<div class="container">
<div class="row">
    <div class="col-md-4 vcenter">
        <h2>Hi! Thanks for stopping by</h2>
        <p>I am a Software Engineer with a passion for solving complex problems with simple solutions. I have experience building web apps with Ruby and Sinatra, JavaScript, and PostgreSQL and am constantly expanding my knowledge by learning new technologies and building projects. I recently received my bachelors degree in Mechanical Engineering which gave me a strong foundation in math, mechanics, and electronics and continues to shape the way I think and solve problems.
        <p>
    </div><!-- 
    --><div class="col-md-4 vcenter">
        <img src="/images/profile_pic.jpg" class="img-circle" alt="profile-pic" id="profile-pic"></image>
    </div><!-- 
    --><div class="col-md-4 vcenter">
        <h3>Quick Facts</h3>
          <ul>
            <li>Degree: Mechanical Engineering</li>
            <li>Backend Languages: Ruby, Rails, Sinatra</li>
          </ul>
        <p>
    </div>  
</div>

<div class="row">
    <div class="col-md-12">
        <h1>I am a col , that spans the entire 12 coloumbs that this row had to offer , by now you should know that if you want to create another coloumb , you have to go create another "row" class</h1>
    </div>
</div>
</div>  <!-- end of container -->