<div class="container">
    <div class="row top-buffer">
        <div class="col-md-4 col-md-offset-2 vcenter">
            <h2>Hi!</h2>
            <p class="personal-description">I am a Software Engineer with a passion for solving complex problems with simple solutions. I have experience building web apps with Ruby and Sinatra, JavaScript, and PostgreSQL and am constantly expanding my knowledge by learning new technologies and building projects. I recently received my bachelors degree in Mechanical Engineering which gave me a strong foundation in math, mechanics, and electronics and continues to shape the way I think and solve problems.
            <p>
        </div><!--
        --><div class="col-md-4 vcenter">
            <img src="/images/profile_pic.jpg" class="img-circle" alt="profile-pic" id="profile-pic"></image>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-4 col-md-offset-6 vcenter personal-facts">
            <h3>Quick Facts</h3>
              <ul>
                <li>Degree: Mechanical Engineering</li>
                <li>Backend Languages: Ruby, Rails, Sinatra</li>
              </ul>
            <p>
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-1 col-md-offset-5">
            <a href="https://github.com/eitansbd" target="_blank"><image src="/images/GitHub-Mark-64px.png" alt="github"></image></a>
        </div>
        <div class="col-sm-1">
            <a href="https://linkedin.com/in/eitanbardavid" target="_blank"><image id="linkedin-logo" src="/images/LI-In-Bug.png" alt="linkedin"></image></a>
        </div>
    </div>
    
</div>