<!DOCTYPE html>
<html lang="en">
<head>
  <title>Eitan Bar-David</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/custom.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
	<nav class="row navbar navbar-inverse">
	  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="#">Eitan Bar-David</a>
		    </div>
		    <ul class="nav navbar-nav navbar-right">
		      <li><a href="/home">Home</a></li>
		      <li><a href="/projects">Projects</a></li>
		      <li><a href="/blog">Blog</a></li>
		      <li><a href="/files/resume.pdf"target="_blank">Resume</a></li>
		      <li><a href="mailto: eitansbd@gmail.com">Contact Me!</a></li>
		    </ul>

	  </div>
	</nav>
	<%= yield %>
	
	<div class="navbar navbar-default navbar-fixed-bottom">
	  <div class="container">
	  	 <div class="container-fluid text-md-left">
	
			    <div class="row bottom-nav-buffer">
		        <div class="col-sm-1 col-md-offset-4 vcenter">
		            <a href="https://github.com/eitansbd" target="_blank"><image src="/images/GitHub-Mark-64px.png" alt="github"></image></a>
		        </div>
		        <div class="col-sm-1 col-md-offset-1 vcenter">
		            <a href="https://linkedin.com/in/eitanbardavid" target="_blank"><image id="linkedin-logo" src="/images/LI-In-Bug.png" alt="linkedin"></image></a>
		        </div>
		    	</div>
			  </div>
	  </div>
	</div>
	 
	
