<div class="container">
  <div class="row top-buffer">
    <div class="col-lg-10">
      <h1>Camp Schedule Management System</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <p> pictures</p>
    </div>
    <div class="col-sm-4">
      <p>As a longtime division head at childrens summer camps I knew that there was one job that nobody wanted: schedule. The jobs requires hours of work every day to try and make everyone happy - give the kids the activities they want without overworking the staff members and making sure that throughout the summer everyone gets a change to do everything. </p>
      
      </div>
    </div>
    <div class="row">
    <div class="col-sm-4">
      <p> pictures</p>
    </div>
    <div class="col-sm-4">
      <h2>Tehcnical Details</h2>
      <ul>
        <li>Backend: Rails with a modularized Sinatra project that implements MVC architecture. </li>
        <li>Frontend: HTML/CSS generated dynamically using ERB templating (JavaScript coming soon)</li>
        <li>Database: PostgreSQL database with tables for bunks, activities, days, daily schedules
        </li>
        <li>
          Production: Hosted on Heroku
        </li>
      </ul>
      
      </div>
    </div>
  </div>
</div>