body {
  background-color: #f1f1f1;
  padding-bottom: 90px;
}

.navbar-default {
  background-color: white;
}

.vcenter {
   display: inline-block;
   vertical-align: middle;
   float: none;
}

#profile-pic {
   margin: auto;    
   display: block;
   width: 300px;
   height: 300px;
   border: #f1f1f1 8px solid;
}

.top-buffer {
  margin-top: 45px;
}

.container-fluid {
  max-width: 1200px;
}

.personal-description {
  font-size: 16px;
}

#linkedin-logo {
  width: 64px;
}

.navbar-fixed-bottom {
    min-height: 80px
}

.bottom-nav-buffer {
    margin-top: 10px;
}

.about-me {
    background-color: #2f4e6f;
    border-radius: 10px;
    padding: 100px 0px;
}

.about-me-text {
    color: white;
}

.contact-pitch {
    font-size: 20px;
}

.btn-block {
    font-size: 24px;
}

.card-img-top {
    margin: auto;
    max-width: 250px;
    max-height: 200px;
    min-height: 100px;
}

.card {
    display:inline-block;
    width: 300px;
    height: 400px;
    background-color: #c0c0c0;
    border-radius: 10px;
    margin-right: 60px
}

.card-image-container {
    height: 220px;
    text-align: center;
    display: flex;
}

.card-title {
    font-weight: bold;
    font-size:  20px;
}

.card-text {
    font-size: 16px;
}

